@import 'bootstrap/scss/bootstrap';
@import './fonts.css';

body {
    direction: rtl;
    padding: 0px;
    margin: 0px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    font-family: IRANSans, sans-serif;
}

span {
    display: block;
}

.d-ltr {
    direction: ltr;
}
.d-rtl {
    direction: rtl;
}

.fw-bold {
    font-weight: 700;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-32 {
    font-size: 32px;
}
.fs-36 {
    font-size: 36px;
}